<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>Map1</ion-label>
  <!-- <div #map id="id_map" class="map"></div> -->
  <ion-label>Map2</ion-label>

  <capacitor-google-map #map></capacitor-google-map>
  <button (click)="createMap()">Create Map</button>

  <!-- google-maps-demo.component.html -->
<google-map height="400px"
width="750px"
[center]="center"
[zoom]="zoom"
(mapClick)="moveMap($event)"
(mapMousemove)="move($event)">
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>



</ion-content>